﻿@charset "utf-8";
/* CSS Document */

body
{  
  	background-color: #101217;
	font-size: 13px;
    font-family: Verdana, Helvetica, Sans-Serif;
    margin: 0px;
    padding: 0px;
    color: #696969;		
}

.header
{
	background-image:url(../images/header-4.png);
	background-repeat:repeat-x;
}


#main
{
    background-color: #FFFFFF;
    /*border-radius: 5px 5px 5px 5px;*/
    margin-bottom: 0px;
    padding: 0 20px 15px;
}

#footer
{
    color: #999;
    padding: 10px 0;
    text-align: center;
    line-height: normal;
    margin: 0;
    font-size: .9em;
}

/* Links */

a:link
{
    color: #696969;
    text-decoration: underline;
}
a:visited
{
    color: #696969;
    text-decoration: underline;
}
a:hover
{
    color: #1d60ff;
    text-decoration: none;
}

/* Tabs Menu */
 /*
ul#menu
{
   border-bottom: 1px #CCCCCC dashed;
    padding: 10px 0 3px;
    position: relative;
    margin: 0;
    text-align: left;
	margin: 0;
    padding-bottom: 6px;
    position: relative;
    text-align: right;
}

ul#menu li
{
    display: inline;
    list-style: none;
}

ul#menu li a
{
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    background-color: #cccccc;
    color: #000000;
	border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
}
ul#menu li a:hover
{
    background-color: #fff;
	color:#000;
    text-decoration: none;
}*/


ul#menu {
 
    margin: 0;
    padding-bottom: 6px;
    list-style: none;
	text-align: right;
	
}
ul#menu li {
  /*  display: block;
    position: relative;
    float: left;*/
	display:inline-table;
    list-style: none;
}
ul#menu li ul {
    display: none;
}
ul#menu li a {
	
	padding: 0px 20px 0px 20px;
	
	
    display: block;
	
    font-weight: bold;
    text-decoration: none;
    line-height: 3.2em;
    background-color: #5A5D65;
    color: #c4c6c9;
	border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
}
ul#menu li a:hover {
    background-color: #F5F5F5;
	color:#000;
    text-decoration: none;
	z-index:5000;
}
ul#menu li:hover ul {
    display:block;
    position: absolute;
	width:15em;
	text-align:left;
	z-index:5000;
}
ul#menu li:hover li {
	list-style:none;
    float: none;
	display:table;
	width:inherit;
	background-color:#F5F5F5;
	z-index:5000;

}
ul#menu .navnew1
{
	padding: 0px 20px 0px 20px;
	
    display: block;
	
    font-weight: bold;
    text-decoration: none;
    line-height: 3.2em;
    background-color: #F5F5F5;
    color: #101217;
	border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
}
/*---------------------------------------------------*/
.highlight { background-color:#F3F;}

/* FORM LAYOUT ELEMENTS   
----------------------------------------------------------*/

fieldset 
{
    margin: 0px;
    padding: 1em;
    border: 1px solid #CCC;
	border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;	
}

fieldset p 
{
    margin: 2px 12px 10px 10px;
}

fieldset label 
{
    display: block;	
	padding:2px;
	font-weight: bold;
}

fieldset label.inline 
{
    display: inline;
}

legend 
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

input[type="text"] 
{

	text-transform:capitalize;
    border: 1px solid #CCC;
	padding:2px;
	border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;

}

input[type="submit"] 
{
    border: 1px solid #CCC;
	padding: 1px 3px;	
	border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	cursor:pointer;		
}

input[type="button"] 
{
    padding: 1px 3px;	
	border: 1px solid #CCC;
	border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	cursor:pointer;	
}



select
{
    
    border: 1px solid #CCC;
	padding:2px;
	border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px; 	
}
textarea
{
    width: 214px;
	padding:2px;
    border: 1px solid #CCC;
	border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;	
}

input[type="file"]
{
    
    border: 1px solid #CCC;
	padding:2px;
	border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	width: 379px;
}

input[type="password"] 
{
    border: 1px solid #CCC;
	padding:2px;
	border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;	
}

/* TABLE */

#njtable 
{
	border: solid 1px #e8eef4;
	border-collapse: collapse;
}



#njtable td 
{
	padding: 5px;   
	border: solid 1px #e8eef4;
}

#njtable th
{
	padding: 6px 5px;
	text-align: left;
	background-color: #bc262e; 
	border: solid 1px #e8eef4;  
	color: #ffffff; 
}

th a:link
{ 
	color:#FFF;
	text-decoration:underline;
}

th a:visited
{
	color:#FFF;
	text-decoration:underline;
}

/* Messages */

.error-box
{
	background-color: #FFEAEA;
    border: 1px solid #D69393;
    color: #FF0000;
    display: block;
    font-family: Monaco,Verdana,Sans-serif;
    font-size: 12px;
    margin-top: 5px;
	margin-bottom: 5px;
    padding: 5px;
    text-align: left;
	border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
}

.success-box
{
	background-color: #EFFFEA;
    border: 1px solid #58A43F;
    color: #2E9300;
    display: block;
    font-family: Monaco,Verdana,Sans-serif;
    font-size: 12px;
    margin-top: 5px;
	margin-bottom: 5px;
    padding: 5px;
    text-align: left;
	border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
}

/*  MISC */

.sort_asc:after 
{
	content: "▲";
}
.sort_desc:after 
{
	content: "▼";
}

#noborders
{
  border: none;
  border-collapse: collapse;
}

#noborders td 
{
  padding: 5px;   
  border: none;
}

.dataTableGridNJ
{
	border-left:1px solid;
	border-right:1px solid; 
	border-color:#CCC;
}
img 
{
	border:0px;
}

h2
{
	font-size:18px;
	padding:0px;
	margin:0px;
}
