@charset "utf-8";
/* CSS Document */

body
{
	margin:0;
	background-image:url(../images/bg.jpg);
	background-repeat:repeat;
	background-color:#404040;
}

.cont-txt
{
	font-family:"Myriad Pro", Calibri, Tahoma;
	font-size:13px;
	color:#FFF;
}

.slider-bg
{
	background-image:url(../images/slider-bg.png);
	background-repeat:no-repeat;
	width:932px;
	height:355px;
}

.title
{
	font-family:"Myriad Pro", Calibri, Tahoma;
	font-size:16px;
	color:#FFF;
}

.subtitle
{
	font-family:"Myriad Pro", Calibri, Tahoma;
	font-size:14px;
	color:#FFF;
}

.txt-13
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#adadad;
}

.txt-13-white, .txt-13-white a
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#ffffff;
	line-height:17px;
}

.requestQuote-link, .requestQuote-link a
{
	font-family:"Myriad Pro", Calibri, Tahoma;
	font-size:13px;
	color:#903333;
	text-decoration:none;
}

.link, .link a
{
	font-family:"Myriad Pro", Calibri, Tahoma;
	font-size:18px;
	color:#6b6b6b;
	text-decoration:none;
}
.link a:hover
{
	font-family:"Myriad Pro", Calibri, Tahoma;
	font-size:18px;
	color:#6b6b6b;
	text-decoration:underline;
}

.heading01
{
	font-family:"Myriad Pro", Calibri, Tahoma;
	font-size:21px;
	color:#737373;
}

.txt-01
{
	font-family:"Myriad Pro", Calibri, Tahoma;
	font-size:15px;
	color:#9b9b9b;
}

.txtfield
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#939393;
	width:225px;
	height:23px;
	/*padding-top:5px;
	padding-bottom:5px;*/
	padding-right:7px;
	padding-left:9px;
	background-color:#fff;
	outline:none;
	margin-left:5px;
	
	border:#7f2020 thin solid;
	-moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 5px 5px 5px 5px;
}


.dropdown
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#939393;
	width:225px;
	height:27px;
	padding-top:3px;
	padding-bottom:3px;
	
	padding-right:7px;
	padding-left:9px;
	background-color:#fbfbfb;
	outline:none;
	margin-left:5px;
	
	border:#adb4b7 thin solid;
	-moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 5px 5px 5px 5px;
}

.txtarea
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#939393;
	width:225px;
	height:71px;
	padding-top:5px;
	padding-bottom:5px;
	padding-right:3px;
	padding-left:9px;
	background-color:#fbfbfb;
	outline:none;
	margin-left:5px;
	resize:none;
	
	border:#adb4b7 thin solid;
	-moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 5px 5px 5px 5px;
}

.footer-bg
{
	background-image:url(../images/footer-bg.jpg);
	background-repeat:repeat-x;
	height:81px;
}

.copyright-txt
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#adadad;
	text-decoration:none;
}

body.mceContentBody { 
   background: none !important;
   background-color:#FFF !important; 
}

.error
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#FFF;
}

.success
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#090;
}