body, td, pre {color:#000; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:10px; margin:8px;}
body 
{
	background:#FFF !important;
}
body.mceForceColors {background:#FFF; color:#000;}
body.mceBrowserDefaults {background:transparent; color:inherit; font-size:inherit; font-family:inherit;}
h1 {font-size: 2em}
h2 {font-size: 1.5em}
h3 {font-size: 1.17em}
h4 {font-size: 1em}
h5 {font-size: .83em}
h6 {font-size: .75em}
.mceItemTable, .mceItemTable td, .mceItemTable th, .mceItemTable caption, .mceItemVisualAid {border: 1px dashed #BBB;}
a.mceItemAnchor {display:inline-block; -webkit-user-select:all; -webkit-user-modify:read-only; -moz-user-select:all; -moz-user-modify:read-only; width:11px !important; height:11px !important; background:url(img/items.gif) no-repeat center center}
span.mceItemNbsp {background: #DDD}
td.mceSelected, th.mceSelected {background-color:#3399ff !important}
img {border:0;}
table {cursor:default}
table td, table th {cursor:text}
ins {border-bottom:1px solid green; text-decoration: none; color:green}
del {color:red; text-decoration:line-through}
cite {border-bottom:1px dashed blue}
acronym {border-bottom:1px dotted #CCC; cursor:help}
abbr {border-bottom:1px dashed #CCC; cursor:help}

/* IE */
* html body {
scrollbar-3dlight-color:#F0F0EE;
scrollbar-arrow-color:#676662;
scrollbar-base-color:#F0F0EE;
scrollbar-darkshadow-color:#DDD;
scrollbar-face-color:#E0E0DD;
scrollbar-highlight-color:#F0F0EE;
scrollbar-shadow-color:#F0F0EE;
scrollbar-track-color:#F5F5F5;
}

img:-moz-broken {-moz-force-broken-image-icon:1; width:24px; height:24px}
font[face=mceinline] {font-family:inherit !important}

.mceItemMedia {border:1px dotted #cc0000; background-position:center; background-repeat:no-repeat; background-color:#ffffcc}
.mceItemShockWave {background-image:url(../../img/shockwave.gif)}
.mceItemFlash {background-image:url(../../img/flash.gif)}
.mceItemQuickTime {background-image:url(../../img/quicktime.gif)}
.mceItemWindowsMedia {background-image:url(../../img/windowsmedia.gif)}
.mceItemRealMedia {background-image:url(../../img/realmedia.gif)}
.mceItemVideo {background-image:url(../../img/video.gif)}
.mceItemIframe {background-image:url(../../img/iframe.gif)}
.mcePageBreak {display:block;border:0;width:100%;height:12px;border-top:1px dotted #ccc;margin-top:15px;background:#fff url(../../img/pagebreak.gif) no-repeat center top;}

/*Site CSS*/


.gridContainer {
	width: 77%;
	max-width: 1232px;
	padding: 0;
	margin: auto;
}

header{ float:left; width:100%; font-family:Arial, "Helvetica", sans-serif; font-size:14px;}

.logo{ float:left; width:182px; height:60px; margin-top:11px;}

.menu{ float:left; width:35%; margin-left:80px;}
.menu ul{ float:left; width:100%; margin:0; padding:0; list-style-type:none;}
.menu ul li{ float:left; border-right:#eaeaea 1px solid; padding:31px 0 32px 0; width:100px; text-align:center;}
.menu ul li:hover{ float:left; width:100px; background:url(../images/menu_hover.jpg);}
.menu ul li a{ text-decoration:none; color:#4d4d4d; font-family:Arial, "Helvetica", sans-serif; font-size:14px;}
.first{ border-left:#eaeaea 1px solid;}


.trans_status{ float:right; width:35%; margin-top:10px;}
.trans_title{ float:left; width:100%; color:#086224; margin-bottom:6px;}
.trans_txt{ float:left; width:246px;}
.trans_txtbox{ background:url(../images/trans_txtbox.png) no-repeat; width:240px; height:31px; line-height:31px; border:none; padding-left:6px;}
.check{ float:left; width:85px; height:31px;}
.check_btn{ background:url(../images/check_btn.png) no-repeat; width:85px; height:31px; border:none; color:#4d4d4d;}

section.banner{ float:left; background:url(../images/banner_pic.png) no-repeat; width:980px; height:649px; margin-top:1px;}
article.testimonials{ float:left; background: rgba(206, 227, 197, 0.14); width:168px; height:387px; margin:180px 0 0 0; border-radius:9px; -moz-border-radius:9px; -webkit-border-radius:9px; box-shadow: 0px 3px #086224; padding: 8px 10px;}
.testi_icon{ float:left; width:30px; height:30px;}
.testi_heading{ float:left; color:#292d27; font-family:"Arial", Helvetica, sans-serif; font-size:18px; margin:3px 0 0 8px;}
.testi_txt{ float:left; width:100%; font-family:"Arial", Helvetica, sans-serif;}
.testi_txt ul{ float:left; width:100%; margin:0; padding:0; list-style-type:none;}
.testi_txt ul li{ float:left; width:100%; margin-top:18px;}
.user_pic{ float:left; width:30px; height:30px; margin-right:10px;}
.user_info{ float:left; width:128px;}
.user_name{ float:left; width:100%; font-size:12px; color:#086224;}
.user_designation{ float:left; width:100%; font-size:11px; color:#292d27;}
.user_comment{ float:left; width:100%; font-size:11px; color:#086224; margin-top:5px;}
.feedback_btn{ float:left; background:url(../images/feedback_btn.png) no-repeat; width:156px; height:33px; margin-top:12px; text-align:center; padding-top:9px; margin-left:7px;}
.feedback_btn a{ text-decoration:none; color:#FFF; font-weight:bold; font-size:16px; font-family:Arial, 'Helvetica', sans-serif;}

article.receip_detail{ float:left; background: rgba(206, 227, 197, 0.14); width:320px; height:387px; margin:180px 0 0 13px; border-radius:9px; -moz-border-radius:9px; -webkit-border-radius:9px; box-shadow: 0px 3px #086224; padding: 8px 10px;}
.receipt_table{ float:left; width:100%;}
.firstname{ float:left; width:154px;}
.fname_txtbox{ background:#FFF; width:150px; height:40px; line-height:40px; box-shadow: 0px 1px rgba(255, 255, 255, 0.4); border:1px solid rgba(0, 0, 0, 0.6); font-family:'Arial', Helvetica, sans-serif; font-size:16px; color:#999999; padding-left:4px; margin:10px 0 0 0;}
.county{ float:left; background:#FFF; width:313px; height:40px; line-height:40px; box-shadow: 0px 1px rgba(255, 255, 255, 0.4); border:1px solid rgba(0, 0, 0, 0.6); font-family:'Arial', Helvetica, sans-serif; font-size:16px; color:#999999; padding-left:4px; margin:8px 0 0 0;}
.country{ float:left; background:#FFF; width:313px; height:40px; line-height:40px; box-shadow: 0px 1px rgba(255, 255, 255, 0.4); border:1px solid #d8d8d8; font-family:'Arial', Helvetica, sans-serif; font-size:16px; color:#000; padding-left:4px; margin:8px 0 0 0;}
.border{ float:left; border-right: 1px solid #999999; width:1px; height:35px; margin:2px 0 0 15px;}
.country_dd{ float:left; width:100px; border: none; margin-top:8px}
.county label{ float:left; height:40px; margin:0 0 0 8px;}
.country label{ float:left; height:40px; margin:0 0 0 8px;}
.price_panel{ float:left; width:100%;}
.price{ float:left; width:150px; margin-left:80px;}
.info{ width:20px; height:20px; float:left; margin:28px 0 0 5px;}
.secret_icon{ width:30px; height:30px; margin:18px 0 0 0; float:left;}
.secret_txtbox{ float:left; background:#FFF; width:256px; height:40px; line-height:40px; box-shadow: 0px 1px rgba(255, 255, 255, 0.4); border:1px solid rgba(0, 0, 0, 0.6); font-family:'Arial', Helvetica, sans-serif; font-size:16px; color:#999999; padding-left:4px; margin:8px 0 0 0;}
.message{ float:left; width:319px;}
.message_txtarea{ float:left; background:#FFF; width:315px; height:80px; box-shadow: 0px 1px rgba(255, 255, 255, 0.4); border:1px solid rgba(0, 0, 0, 0.6); font-family:'Arial', Helvetica, sans-serif; font-size:16px; color:#999999; padding-left:4px; margin:8px 0 0 0; padding-top:5px;}
.text{ float:left; color:#086224; font-size:11px; margin-top:10px;}
.play_btn{ float:right; background:url(../images/feedback_btn.png) no-repeat; width:156px; height:33px; margin-top:8px; text-align:center; padding-top:9px; margin-left:7px;}
.play_btn a{ text-decoration:none; color:#FFF; font-weight:bold; font-size:16px; font-family:Arial, 'Helvetica', sans-serif;}
section.body_content{ float:left; width:100%;}
.home_heading{ float:left; width:100%; height:127px; margin-top:25px;}

article.bottom_panel{ float:left; width:100%;}
article.bottom_panel ul{ float:left; width:100%; margin:30px 0 0 0; padding:0; list-style-type:none;}
article.bottom_panel ul li{ float:left; width:258px; height:250px; background: rgba(255, 255, 255, 0.4); box-shadow: 0px 3px #ffffff; border-radius:9px; -moz-border-radius:9px; -webkit-border-radius:9px; padding:30px; margin-left:6px; text-align:center;}
.panel_img{ width:100%; height:119px;}
.panel_title{ float:left; width:100%; color:#086224; font-size:16px; font-family:Arial, 'Helvetica', sans-serif; margin:10px 0 10px 0;}
.panel_txt{ float:left; width:100%; font-size:12px; color:#999999; font-family:'Verdana', Geneva, sans-serif; line-height:1.5em;}
article.clients_panel{ float:left; width:100%; margin-top:40px;}
.payment{ float:left; width:604px; background: rgba(255, 255, 255, 0.9); border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px; color:#666666; font-size:14px; font-family:Arial, 'Helvetica', sans-serif; text-align:center; padding:10px 0 8px 0; margin-left:30px;}
.money{ float:right; width:314px; background: rgba(255, 255, 255, 0.9); border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px; color:#086224; font-size:14px; font-family:Arial, 'Helvetica', sans-serif; text-align:center; padding:10px 0 8px 0;}
.bubble{ background:url(../images/bubble.png) no-repeat; width:66px; height:102px; position:relative; top:0px; left:-38px;}
.clients{ float:left; width:100%; height:122px; background: rgba(255, 255, 255, 0.4); box-shadow: 0px 3px #ffffff; border-radius:9px; -moz-border-radius:9px; -webkit-border-radius:9px; margin-left:6px; text-align:center; margin:10px 0;}
.clients ul{ float:left; width:100%; margin:26px 0 0 0; padding:0; list-style-type:none;}
.clients ul li{ float:left; margin:0 0 0 32px;}

section.footer{ float:left; width:100%; border-top: 1px solid rgba(125, 125, 125, 0.2); margin-top:10px; margin-bottom:10px;}
.social_media{ float:right; width:130px;}
.social_media ul{ float:left; width:100%; margin:0; padding:0; list-style-type:none;}
.social_media ul li{ float:left; color:#7d7d7d; font-family:'Arial', Helvetica, sans-serif; font-size:12px; text-shadow: 0px 2px #f8f8f8; margin-right:5px; margin-top:15px;}


nav.footer_menu{ float:left; width:60%;}
nav.footer_menu ul{ float:left; width:100%; margin:10px 0 0 0; padding:0; list-style-type:none;}
nav.footer_menu ul li{ float:left; margin-right:20px;}
nav.footer_menu ul li a{ text-decoration:none; color:#7d7d7d; font-family:'Arial', Helvetica, sans-serif; font-size:12px; text-shadow: 0px 2px #f8f8f8;}
.copyright{ float:left; width:50%; color:#7d7d7d; margin-top:35px;}

/*contactus popup*/
.contactus_icon{ float:left; width:28px; height:20px;}
h2{ float:left; color:#292d27; font-family:'Arial', Helvetica, sans-serif; font-size:18px; margin:0 0 0 15px; padding:0; width:90%;}
hr{ float:left; width:100%;}
.popup_heading{ float:left; width:98%; color:#FFF; font-size:14px; background:#8dc73f; padding:6px 0 6px 10px; font-weight:bold;}
p{ float:left; width:100%; color:#999999; margin:0; padding:0;}
.contact_table{ float:left; width:100%;}
.contact_txt{ float:left; width:198px; margin-right:15px;}
.contact_txtbox {
    border: 1px solid #d8d8d8;
	width:198px;
	height:40px;
	color:#999999;
	font-size:16px;
	padding-left:5px;
	margin-bottom:8px;
}
contact_d{ float:left; width:100%;}
.contact_dd {
    border: 1px solid #d8d8d8;
	width:319px;
	height:40px;
	color:#999999;
	font-size:16px;
	margin-bottom:8px;
	padding:8px 5px 8px 5px;
}
.contact_textarea{ float:left; width:100%;}
.contact_txtarea{
    border: 1px solid #d8d8d8;
	width:471px;
	height:112px;
	color:#999999;
	font-size:16px;
	margin-bottom:8px;
	padding:8px 5px;
}
.button{ float:right;}
.button1{ float:left; margin-left:10px;}
.send_btn{ background:url(../images/send_btn.png) no-repeat; width:74px; height:40px; border:none; color:#FFF; font-weight:bold; font-family:Arial, 'Helvetica', sans-serif; font-size:18px;}
.cancel_btn{  background:url(../images/cancel_btn.png) no-repeat; width:89px; height:40px; border:none; color:#FFF; font-weight:bold; font-family:Arial, 'Helvetica', sans-serif; font-size:18px; margin-left:10px;}
.pop_txt{ float:left; width:100%; height:350px; overflow:scroll; overflow-x:hidden; border-bottom:#d8d8d8 1px solid;}
.pop_txt p{ float:left; width:98%;}
.cancel_button{ float:left; background:url(../images/cancel_btn.png) no-repeat; width:89px; height:32px; border:none; margin-left:10px; text-align:center; padding-top:8px; margin-top:10px;}
.cancel_button a{ text-decoration:none; color:#FFF; font-weight:bold; font-family:Arial, 'Helvetica', sans-serif; font-size:18px;}
.steps{ float:left; width:464px; height:72px; margin:25px 0 0 50px;}
.varification_code{ float:left; margin-left:180px;}
.wrong_code{ float:left; margin-left:180px; color:#F00;}
.confirm_button{ float:left; background:url(../images/confirm_btn.jpg) no-repeat; width:118px; height:32px; border:none; margin-left:220px; text-align:center; padding-top:8px;}
.confirm_button a{ text-decoration:none; color:#FFF; font-weight:bold; font-family:Arial, 'Helvetica', sans-serif; font-size:18px;}
p a{ color:#8cc63e;}
.step_table{ float:left; width:80%; margin-left:50px;}
.charges_table{ float:left; width:100%; color:#999999; font-weight:bold; text-align:center; font-size:14px;}
.charges_table table{ border-collapse:collapse; border:#d8d8d8 1px solid;}
.charges_table table tr.first_border{border:#d8d8d8 1px solid;}
.charges_table table td{ border-left:#d8d8d8 1px solid; padding:5px 0;}
.td_bg{ background:#f4ffe5;}
.charges_table table td.first{padding:15px 0;}
.cancel_tabel{ float:left; width:100%}
.question{ float:left; width:100%; color:#8cc63e; font-size:14px; font-weight:bold; margin-top:25px;}
.sender_dd {
    border: 1px solid #d8d8d8;
	width:319px;
	height:40px;
	color:#999999;
	font-size:16px;
	margin-bottom:8px;
	padding:8px 5px 8px 5px;
}
.transaction_txt{ float:left; width:416px;}
.tranction_txtbox{
    border: 1px solid #d8d8d8;
	width:416px;
	height:24px;
	color:#999999;
	font-size:16px;
	margin-bottom:8px;
	padding:8px 5px 8px 5px;
}

.country1{ float:left; background:#FFF; width:420px; height:40px; line-height:40px; box-shadow: 0px 1px rgba(255, 255, 255, 0.4); border:1px solid #d8d8d8; font-family:'Arial', Helvetica, sans-serif; font-size:16px; color:#000; padding-left:4px; }
.country1 label{ float:left; height:40px; margin:0 0 0 8px;}
.process_button{ background:url(../images/confirm_btn.jpg) no-repeat; width:118px; height:40px; border:none; color:#FFF; font-weight:bold; font-family:Arial, 'Helvetica', sans-serif; font-size:18px;}
.confirm_table{ float:left; width:100%;}
.confirm_table table{ border-collapse:collapse; border:#d8d8d8 1px solid; color:#999999; font-weight:bold; font-size:14px;}
.confirm_table table td{ padding:8px 60px;}
.confirm_label{ color:#8cc63e; font-weight:bold; font-size:14px;}
.email_tabel{ float:left; width:100%;}
.email_btn{ background:url(../images/feedback_btn.png) no-repeat; width:156px; height:42px; color:#FFF; font-weight:bold; font-size:16px; border:none;}
.checkout_table{ float:left; width:800px;}
.checkout_table tr.top_td{ background:#8ec540; color:#fff; font-size:14px; font-weight:bold;}
.checkout_table td{ padding:6px;}
.checkout_table tr.table_txt{ color:#999999; font-size:13px; font-weight:bold;}
.remember_panel{ float:left; width:510px; background:#f3f3f3; border:#d8d8d8 1px solid; padding:20px;}
.remember_panel ul{ float:left; width:98%; margin:10px 0 0 18px; padding:0; list-style-image:url(../images/warning.png);}
.remember_panel ul li{ float:left; width:100%; margin-top:5px; color:#999999;}
.payment_load{ float:left; width:185px; padding:80px 20px 0 20px;; text-align:center;}
.loading{ float:left; width:100%; height:24px;}
.checkbox{ float:left; width:100%; font-size:12px; color:#086224;}
.payment_btn{ background:url(../images/confirm_btn.jpg) no-repeat; width:118px; height:40px; border:none; color:#FFF; font-weight:bold; font-family:Arial, 'Helvetica', sans-serif; font-size:14px; margin-top:8px;}
